
p, span, h2, h3, h4
{
	color: white;
}
.container:not(.search_body .container)
{
	margin-top: 40px;
	text-align: center;
}
.page_body
{
    text-align: center;
}
.prof_images
{
	position: relative;
}

.bordered
{
	width: 100%;
    max-width: 340px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 2px solid rgba(243,249,255,0.2);
    border-radius: 16px;
    padding: 20px;
}
#user_info h2
{
	    margin: 8px;
    font-size: 24px;
    font-weight: normal;
}
.prof_images
{
		border: 0;
	    /*top: -80px;*/
}

#user_details h2
{

    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
#user_details h4 {
	text-transform: uppercase;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#user_details p,#profile p,#password p,#disagnostic p
{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
h3:not(.search_body h3) {

    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#profile h3,#password h3
{
	margin: 8px;
}
.clickable
{
	cursor: pointer;
}
.clickable:not(.activediv):hover
{
	background: rgba(243,249,255,0.1);
}
#user_email,#curr_pass,#new_pass,#new_re_pass
{
    -webkit-appearance: none;
    background: rgba(243,249,255,0.1);
    border-radius: 4px;
    border: 1px solid rgba(243,249,255,0.2);
    padding: 6px 30px;
    color: rgba(243,249,255,0.9);
    width: 100%;
}
#user_name
{
	-webkit-appearance: none;
    background: rgba(243,249,255,0.1);
    border-radius: 4px;
    border: 1px solid rgba(243,249,255,0.2);
    padding: 6px 30px;
    color: rgba(243,249,255,0.9);
    width: 100%;
}
.inner-addon { 
    position: relative; 
}
#profile span,#password span
{
	text-align: left;
	padding: 3px 0px;
	display: block;
    text-transform: lowercase;
    color: rgba(243,249,255,0.8);
}

/* style icon */
.inner-addon .fa {
	color: rgba(243,249,255,0.9);
  position: absolute;
  padding: 10px;
  pointer-events: none;
  left: 0;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.activediv
{
	 border-color: #298EEa;


}
.prof_buttons
{
	text-align: right;
}

button.text {
    color: #fff;
    border-radius: 100px;
    background: #298EEA;
    box-shadow: 0 2px 2px rgba(0,6,12,0.2);
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: .5em 1em .55em;
    font: bold 12px Josefin Sans,sans-serif;
    transition: .3s transform;
    box-sizing: border-box;
}

button.text:focus {
    outline: none;
}
button.text:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

button.text:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.error
{
    color: red;
}
#disagnostic a
{
    color: #298EEA;
}