input[type="text"],textarea
{
	    -webkit-appearance: none;
    background: rgba(243,249,255,0.1);
    border-radius: 4px;
    border: 1px solid rgba(243,249,255,0.2);
    padding: 6px 10px;
    color: rgba(243,249,255,0.9);
    width: 100%;
	/*float: right;*/
}
.alert p
{
    text-align: center;
}
textarea {
	height: 250px;
    resize: none;
}
#subject
{
	/*text-align: center;*/
}
#contactFrom span
{
	color: white;
	font-size: 14px;
	float: left;
}
button[type="submit"]
{
	    color: #298EEA;
    border: 2px solid #298EEA;
    border-radius: 100px;
    width: 100px;
    padding: 6.5px 20px 3.5px;
    background: transparent;
    outline: 0;
    box-sizing: border-box;
    font: inherit;
    float: right;
    margin-top: 15px;
    padding: 10px;

}
button[type="submit"]:hover
{
	background: none;
	    color: white;
    border: 2px solid #298EEA;
}
textarea
{
	font-family: "FontAwesome", "Source Sans Pro"; 
}
input[type="text"] {
    font-family: "FontAwesome", "Source Sans Pro"; }
    h1
    {
        font-size: 2em;
    }
    .heading
    {
        margin-bottom: 20px;
    }
    #contactNotification
    {
        color: white;
    text-align: left;
    }
    #request_form
    {
        color: white;
    }