h2
{
	    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.form-field
{
	float: left;
	-webkit-appearance: none;
    background: rgba(243,249,255,0.1);
    border-radius: 4px;
    border: 1px solid rgba(243,249,255,0.2);
    padding: 6px 30px;
    color: rgba(243,249,255,0.9);
    width: 250px;}
.form
{
	/*width: 370px;*/
}
/* style icon */
.inner-addon .fa:not(.fa-exclamation-circle){
	color: rgba(243,249,255,0.9);
  position: absolute;
  padding: 10px;
  pointer-events: none;

}
.fa-exclamation-circle
{
    color: white;
    margin-right: 5px;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

button[type="submit"]
{
color: #298EEA;
    border: 2px solid #298EEA;
    border-radius: 100px;
    width: 100px;
    padding: 6.5px 20px 3.5px;
    background: transparent;
    outline: 0;
    box-sizing: border-box;
    font: inherit;
    float: right;

    padding: 10px;

}
button[type="submit"]:hover,button[type="submit"]:active,button[type="submit"]:focus
{
	background: none;
	    color: white;
    border: 2px solid #298EEA;
}
.labels
{
	width: 96%;
	display: inline-block;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
span
{
	font-weight: bold;
	display: block;
    text-transform: lowercase;
    color: rgba(243,249,255,0.8);
}
.form-group
{
    margin-bottom: 0px;
}

p
{
        color: white;
    font-weight: bold;
    margin-top: 75px;
}

.error
{
    color: #ff4d4d;
       float: left;
    margin-top: 10px;
}
