.navbar-right li a:hover,.navbar-right li a:focus,.navbar-right li a:active
{
	background:transparent;

}
.navbar-right li a 
{
	color: rgba(243,249,255,0.9);
    display: block;
    padding: 0 12px;
    line-height: 28px;
    margin: 2px;
    border-radius: 16px;
    transition: 0.3s all;
    border: 2px solid transparent;
}
.navbar-right li a:hover
{
	
    color: #fff;
    border-color: #1474cc;
}