/*.lSAction>.lSNext {
	right:30px !important;
	
}
.lSAction>.lSPrev {
	left:30px !important;
}*/
.lSAction>a
{
	top:70%;
	display: none;
}
.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #fff;
}
.lSPager
{
	    margin-top: 15px !important;
}
.lightSlider 
{
	overflow: hidden;
}