     
    body{
        padding-top:65px;

    }

@media screen and (max-width: 512px)
{
#player,#bImage,.video-js {
    height: 288px !important;
    }
}
@media screen and (max-width: 656px)
{
#player,#bImage,.video-js {
    height: 369px;
    }
}
@media screen and (max-width: 800px)
{
#player,#bImage,.video-js {
    height: 450px;
    }
}
@media screen and (max-width: 992px)
{
#player,#bImage,.video-js {
    height: 400px;
    }
}

    /* fix padding under menu after resize */
      @media screen and (max-width: 320px) {
        /*body { padding-top: 150px; }*/
    }

    @media screen and (min-width:401px) and (max-width: 667px) {
        body { padding-top: 115px; }
    }

    @media screen and (min-width:200px) and (max-width: 400px) {
        body { padding-top: 180px; }
    }
    @media screen and (min-width:668px) and (max-width: 1023px) {
        body { padding-top: 135px; }

    }

 
    @media screen and (min-width: 1024px) and (max-width: 1900px){
        body { padding-top: 135px; }
        #down_button{top: -20px !important;}
       
    }

 .mCSB_container
 {
    margin: 0 !important;
 }   
 .mCSB_scrollTools
 {
    margin: 0 !important;
 }
span.icon-bar {
    background-color: white;
}

div.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}  
div.description{  
        
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:20px; /* position will be on bottom */  
    right:15px;  
   
    /* styling bellow */  
    background-color: rgba(41,142,234,0.7); 
  
    font-size:15px;  
    color:white;  
     /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  
}  
.description_content{  
    float: right;
        padding:10px;  
    margin:0px;  
    font-size: 1.17em !important;
}  

.menu-half {
    display: inline-block !important;
    
}
.alert
{
    padding: 10px !important;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    text-align: center;
}
.alert-Text
{
    margin-top: 10px; 
}
button,a,li,p
{
     text-shadow: none !important;
}
body
{

	background: black;
	font-family: Josefin Sans,sans-serif;

}
a:active a:hover,a:visited,a:focus{
    background-color: transparent !important;
}

h1,h2,h3,h4
{
	color: rgba(243,249,255,0.8);
	font-family: Josefin Sans,sans-serif;
}
#backdrop
{
	
	width:100%;
	
}
#bImage
{
    background: rgba(0,6,12,0.5);
    box-shadow: 0 4px 16px rgba(0,6,12,0.8);
	position: relative;
    height: 500px;}
#bImage img
{
	
	width: 100%;
	height:100%;

}
.main
{
	padding: 0px 40px;
}
#details
{
	text-align: left;
    box-sizing: border-box;
    background: rgba(0,6,12,0.5);
    box-shadow: 0 4px 16px rgba(0,6,12,0.8);
    position: relative;
    transition: .3s transform;
    max-width: 100%;
}
.overlay span h3
{
        white-space: initial;
        color: white !important;
        font-weight: bold;
        font-size: 1.2em !important;
}
#mvoverlay
{
    background: rgba(0,6,12,0.5);
    bottom:0;
    padding: 0 0 0 20px;

    position:absolute;
    width:100%;
    line-height: 1.1;
    z-index:8;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#overlay 
{
	background: rgba(0,6,12,0.5);
	bottom:0;
	padding: 0 0 0 20px;
    height: 100%;
	position:absolute;
	width:100%;
	line-height: 1.1;
	z-index:8;
	display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


#overlay small
{
	color: rgba(243,249,255,0.8);
    /*text-shadow: 0 2px 2px rgba(0,6,12,0.2);*/
    font-weight: bold;
    padding-left: 10px;
}
#overlay h1
{
	color: rgba(243,249,255,0.8);
    /*text-shadow: 0 2px 2px rgba(0,6,12,0.2);*/
    font-weight: bold;
}
.poster img
{
	display: block;
    background-color: rgba(0,6,12,0.6);
    width: 200px;
    height: 300px;
    box-shadow: 0 2px 24px 0 rgba(0,6,12,0.5);
    margin-top: -160px;
    right: -65px;
    position: absolute;
    z-index: 9;
    transition: .3s transform;

}
.poster
{
	    background-size: cover;
    background-position: center;
}
.buttons
{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: rgba(0,6,12,0.2);
    padding: 5px 10px 5px 20px;
}
.buttons button
{
	background: none;
    border: 2px solid rgba(243,249,255,0.7);
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 6px 16px 4px;
    opacity: .9;
    margin: 10px 10px 10px 0;
    transition: .3s all;
    min-width: 72px;
    vertical-align: middle;
    font-size: 14px;
}
.buttons button:hover
{
    opacity: 1;
    background: rgba(243,249,255,0.1);
}
.buttons button i
{
	    margin-right: 8px;
}
a {
    color: inherit;
    text-decoration: none !important;
    background-color: transparent;
}
a:hover
{
    text-decoration: none !important;
}
#right
{
	padding-right: 140px;
}
.basic_info
{
	display: block;
    color: #fff;
    transition: .3s all;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.basic_info div
{
	margin: 12px 24px 12px 0;
    display: inline-block;
}
.basic_info h3
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
    margin: 0 8px 5px 0;
}
#rated a:hover
{
	background:rgba(243,249,255,0.2);
}
#Genre a:hover
{
	background:rgba(243,249,255,0.2);
}
#rated a
{
	font-weight: bold;
	color: rgba(243,249,255,0.8);
    border: 1px solid rgba(243,249,255,0.9);
    padding: 1px 7px 1px;
    text-align: center;
    box-sizing: border-box;
    line-height: 22px;
    text-decoration: none;
    cursor: context-menu;
}
.basic_info a
{
	text-decoration: none;
	color: rgba(243,249,255,0.8);
	font-weight: bold;

}


#imdb i
{
	margin-right: 5px;
}

#Genre a
{
	padding: 0 12px 1px;
    border: 1px solid rgba(243,249,255,0.5);
    border-radius: 15px;
    margin: 0 4px 10px;
    display: inline-block;
    cursor: context-menu;

}
a:focus, a:hover
{
	color: #fff;
}

.subtitle p
{
    margin: 0 0 15px;
    font-weight: bold;
    color: #fff;
    line-height: 180%;
    text-align: justify;  
}


#storyLine p,
{
	margin: 0 0 15px;
	font-weight: bold;
	color: rgba(243,249,255,0.8);
    line-height: 180%;
    text-align: justify;
}

.related
{
	width: 100%;
	overflow-x: auto;
	 white-space: nowrap;
	display: block;
    border-top: 1px solid rgba(243,249,255,0.1);
    padding: 20px;
    height: auto;
}
.related a
{
	padding-right: 10px; 

}
.related h3
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
    margin: 0 8px 25px 0;
    font-size: 16px;
}
.related img
{
	border-radius: 8px;
}
#cast
{
	width: 80%;
	margin-left: 10%;
	margin-top: 2% !important;
	text-align: center;
    padding: 0 20px;
}
#cast_details
{
	border-radius: 10px;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    background: rgba(0,6,12,0.5);
    box-shadow: 0 4px 16px rgba(0,6,12,0.8);
    margin: 0 0 30px;
    position: relative;
    transition: .3s transform;
    max-width: 100%;
}
.initials
{
     
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 185px;
    letter-spacing: 1px;
    opacity: .9;
    transition: .3s transform;
    object-fit: cover;
    border-radius: 8px;
    background: rgba(0,6,12,0.5);
    width: 123px;
    display: inline-block;
    vertical-align: top;
    margin: 2px 0;
    box-shadow: 0 2px 12px rgba(0,6,12,0.5);
    -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}

.person img
{
    height: 185px;
	transition: .3s transform;
    object-fit: cover;
	border-radius: 8px;
    background: rgba(0,6,12,0.5);
    width: 123px;
    display: inline-block;
    vertical-align: top;
    margin: 2px 0;
    box-shadow: 0 2px 12px rgba(0,6,12,0.5);
    -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.person
{
	display: inline-block;
    vertical-align: top;
    min-width: 123px;
    margin: 4px 4px 8px;
    white-space: normal;
    max-width: 140px;

}

#cast h3
{
	margin: 20px 20px 10px;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 16px;
}
#cast h2
{
	margin: 6px 0 0;
    font-size: 16px;
    display: block;
    opacity: .9;
}
#cast p
{
	margin: 0 0 15px;
	font-size: 10px;
	color: rgba(243,249,255,0.8);
    line-height: 180%;
    text-align: justify;
}

.person:hover  img 
{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.episodes
{
	text-align: left;
    box-sizing: border-box;
    display: inline-block;
    background: rgba(0,6,12,0.5);
    box-shadow: 0 4px 16px rgba(0,6,12,0.8);
    position: relative;
    transition: .3s transform;
    width: 100%;
    padding: 0 20px;
    height: 800px;
    /*overflow-y: scroll;*/
}

.seasons 
{
	display: block;
    padding: 20px 0 0;
    margin-bottom: 10px;
}
.seasons h3
{
	margin: 10px 20px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(243,249,255,0.8);
}
.snav
{
	    margin: 0 20px;
}
.snav a
{
	color: rgba(243,249,255,0.8);
	font-weight: bold;
    text-decoration: none;
	width: 40px;
    height: 40px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    transition: 0.3s all;
    border-radius: 50%;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 2px;
}

.snav a.selected
{
	opacity: 1;
    border-color: rgba(243,249,255,0.5);
    background: rgba(243,249,255,0.1);
    box-shadow: 0 2px 12px 0 rgba(0,6,12,0.4);
}
.snav a:hover 
{
	opacity: 1;
    border-color: rgba(243,249,255,0.5);
    background: rgba(243,249,255,0.1);
    box-shadow: 0 2px 12px 0 rgba(0,6,12,0.4);
}
#episode
{
    position: relative;
	vertical-align: top;
    display: inline-block;
    width: 285px;
    color: rgba(243,249,255,0.8);
    padding: 10px;
    transition: .3s transform;
}
#allEpisodes
{
    padding: 20px;
}
#episode h2
{
	font-size: 16px;
    margin: 8px 0;
    opacity: .9;
    text-align: left;
    font-weight:bold;
}
.ttip
{
    display: none;
    position: absolute;
    top: 10px;
    background: rgba(0,6,12,0.8);
    padding: 0 6px;
    font-size: 12px;
}

#episode:hover .ttip
{
    display: block;
}



.hover10 figure img {
    -webkit-filter:  blur(0);
    filter:  blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.blur_active {
    -webkit-filter:  blur(3px) !important;
    filter:  blur(5px) !important;
    border: 2px solid #298EEA;
}


.column {
    
    padding: 0;
}
.column:last-child {
    padding-bottom: 60px;
}
.column::after {
    content: '';
    clear: both;
    display: block;
}

.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;

    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}
figure {
    margin: 0;
    padding: 0;
    
    overflow: hidden;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}
.play_buttons div
{
    padding: 10px;
/*    left: 20%;
float: left;*/
}
#play_button1 /*On movies page*/
{

        top: 40%;
        position: absolute;
        color: white;
        opacity: .5;
        -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  }
  #play_button1:hover 
  {
    opacity: 1;
    -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
#play_button , #down_buttons
{
    text-align: center;
}
/*#play_button .row a,#play_button .row i,#down_button .row a,#down_button .row i
{
    width: 100%;
    text-align: center;
}*/

#episode .play_buttons {
    position: absolute;
    top: 25%;
    left: 0;
    width: 285px;
   /*padding: 10px;*/
    display: none;
    color: #FFF;
}
#playHeading
{
    color: rgba(243,249,255,0.8);
    /*text-shadow: 0 2px 2px rgba(0,6,12,0.2);*/
    font-weight: bold;
        padding: 0 0 0 20px;
        width: 100%;
    line-height: 1.1;
    z-index: 8;
    display: flex;
}
#ep
{
    line-height: 1.1;
    padding: 20px;
}
.video-js {
    /*position: relative !important;*/
    width: 100% !important;
    /*height: auto !important;*/
}

.video-js .vjs-control-bar { 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }




  #player
  {
    width: 100%;
    height: 500px;
  }

  #playHeading span
  {
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(243,249,255,0.8);
        margin: 0 0 8px;
  }
  #play_button,#down_button
  {
        
        top: 35%;
        color: white;
        opacity: .5;
        -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  }
  #play_button:hover , #down_button:hover
  {
    opacity: 1;
    -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  .navbar-nav a
  {
    color: rgba(243,249,255,0.9);
    display: block;
    padding: 0 12px;
    line-height: 28px;
    margin: 2px;
    border-radius: 16px;
    /*transition: 0.3s all;*/
  }
  

  .right-nav a
  {
    text-align: center;
    line-height: 1;
    opacity: 0.8;
    font-weight: bold;
    font-size: 20px;
    /*box-sizing: border-box;*/
  }

.right-nav a:hover
{
background-color: transparent !important;
background: none;
/*border: 2px solid #298EEA;*/
/*text-decoration: none !important;*/
}
.actor .item
{
    background: none !important;
}
.actor-no-image
{
        width: 130px;
    height: 130px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    /* text-align: center; */
    /* vertical-align: middle; */
    text-align: center;
    vertical-align: middle;
    line-height: 130px;
    border: 1px solid rgba(243,249,255,0.8);
    color: white;
}

 .actor .item img
 {

    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 130px;
    height: 130px;
 } 
 person-name {
    margin-top: 20px;
       display: block;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
 }

input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-weight: bold;
    font-size: 100%;

}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search]
{
    color: white;
    opacity: .5;
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    background-color: transparent;;
    padding: 9px 10px 9px 32px;
    width: 80px;
    
/*    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;*/
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
/*    width: 180px;*/
   /* background-color: #fff;
    border-color: #66CC75;*/
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
.avatar
{
    vertical-align: middle;
    border-radius: 50%;
    background: rgba(0,6,12,0.5);
    border: 2px solid rgba(0,6,12,0.8);
    transition: 0.3s all;
}
.navbar-right li
{
    margin-right: 10px;
    margin-top: 10px;
}

.dropdown-menu
{
    border-radius: 10px !important;
    background: #1f1a23;
}
.dropdown-menu li a
{
    color: rgba(243,249,255,0.9);
    display: block;
    padding: 0 12px;
    line-height: 28px;
    margin: 2px;
    border-radius: 16px;
    transition: 0.3s all;
    opacity: .8;

}
.dropdown-menu li a:hover
{
    background: transparent !important;
    color: #fff;
    opacity: 1;
}
.dropdown-menu li a i
{
    margin-right: 5px;
}
.navbar
{
    margin-bottom: 0px;
}
.heading h2
{
    display: inline-block;
    padding: 0;
    margin: 0;

    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.heading span
{
    float: right;
    color: white;
}
.listing
{
    padding: 15px 0;
    overflow-x: auto;
    white-space: nowrap;
}
.movData
{
    height: 200px;
}
.heading
{
        margin-bottom: 10px;

}
.movData  .dataDiv
{
    margin-bottom: 30px;
    margin-top: 10px;
}

.item
{
    float: left;
    position: relative;
    width: 140px;
    height: 200px;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/*overlay*/
.item img
{
    position: relative;
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 5px;
    color: #FFF;
    background: rgba(0, 0, 0, .8);
}
.item:hover .overlay 
{

    /*top: -5px;*/
    opacity: 1;
    
}
.item:hover
{
   
    top: -5px;
}

.overlayFooter
{
    width: 92%;
    position: absolute;
    bottom: 15px;
}
.rated
{
        float: left;
    bottom: 6px;
    padding: 6px 4px;
    border: 1px solid rgba(243,249,255,0.5);
    box-sizing: border-box;
    font-size: 10px;
    font-weight: bold;
}
.score
{
    float: right;
    bottom: 4px;
    padding: 4px 6px;
    background: rgba(243,249,255,0.2);
}
.genre label
{
        color: rgba(243,249,255,0.9);
        opacity: .8;
        margin: 0 4px;
        cursor: pointer;
}
.genre
{
    text-align: center;
    line-height: 2;
}

input[type=checkbox]:not(:checked):hover {
    background: rgba(243,249,255,0.2);
}
input[type=checkbox]:checked:after {
     content: '✔';
    position: absolute;
    /* -webkit-transform: scale(0) rotate(-45deg); */
    /* transform: scale(0) rotate(-45deg); */
    /* border: 2px solid rgba(243,249,255,0.9); */
  /*  border-top: 0;
    border-right: 0;*/
    /* width: .6em; */
    /* height: .3em; */
    left: 2px;
    line-height: 17px;
    /*top: -0.5px;*/
    color: black;
    transition: .3s all;
    /* bottom: 10px !important; */
}


input[type=checkbox] 
{
cursor: pointer;
        -webkit-appearance: none;
    border-radius: 3px;
    border: 2px solid rgba(243,249,255,0.6);
    width: 1em;
    height: 1em;
    min-height: 16px;
    min-width: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    transition: .3s all;
    margin-right: 4px;
    box-shadow: 0 0 5px rgba(0,6,12,0.5);
}
input[type=checkbox]:checked {
    background: #1474cc;
    border: 0;
}

.sorter label, .order label , .all label
{
    color: #fff;
    opacity: .5;
}
.sorter a,.order a,.all a
{
    background: transparent ;
    color: rgba(243,249,255,0.9);
    opacity: .8;
}
.sorter a:hover,.order a:hover, .all a:hover
{
    background: rgba(0,0,0,0.2);
    color: white;
    opacity: 1;
}
a:active {
  /*background-color: white;*/
  opacity: 1;
}
.options 
{
    padding:15px;
}
.sorter,.order,.all
{
    padding-left: 20px;
    float: left;
}
.allMovies
{
    padding-top: 4%;
    margin: 2%;
}
 .item
{
    margin-bottom: 8px;
}


.right-nav
{
    /*margin-top: 5px;*/
}
.activeLi 
{
    background-color: #298EEA;
    /*border-radius: 30px;*/
}
.activeLi a
{
    opacity: 1;
    color: white !important;
}
.year
{
    display: none;
}
.activefilter
{
  background-color: #298EEA !important;  
}
a.btn.btn-default {
    border-color: 298EEA;
}

.right-nav  a:hover:not(.activeLi)
{
    color: #298EEA;
}
.btn-default:focus,.btn-default:active
{
    background-color: #298EEA !important;
    color: white; 
}
.btn-default:hover
{
    background: rgba(41,142,234,0.3) !important;
    color: white;
}

.activeep
{
        border: 2px solid #298EEA;
}

.mobile .episodes
{
    margin: 0 !important;
}
.mobile .epContorl
{width: 100%;
        /*padding-left: 20px !important;*/
    margin: 0 !important;
}
.mobile #play_button,.mobile #down_button
{
        margin: 0 !important;
    padding: 0 !important;
}
textarea:focus, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus {
    border-color: #1474cc !important;
    background: rgba(0,6,12,0.2) !important;
    color: #fff !important;
    box-shadow: 0 0 5px #298EEA !important;
}
.mobile_right-nav
{
    margin-top: 70px;
    text-align: center;
}
.mobile_right-nav a
{
    font-size: 14px;
}

.mobile_right-nav .activeLi
{
    background-color: transparent;
    border-bottom: 2px solid #298EEA;
}
.mobile_right-nav .activeLi a
{
    color: #298EEA !important;
}
.seasonInfo
{
        text-align: right;
    padding-right: 8px;
    margin: 4px 0 0;
    font-size: 13px;
        display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#lightSlider3 li {
    float: left;
        list-style: none;
}
.downhide
{
    display: none;
}

.mobile .row.downshow a {
    padding: 30px;
}
.mobile #episode .play_buttons
{
    top:20% !important;
}

.close-icon {

    border:1px solid transparent;
    background-color: transparent;
    display: none;
    vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
    content: "X";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #141414;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 15px;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}
#error_search p
{
    color: white;
}

.navbar-nav>li>a
{
    line-height: 30px !important;
}