.page_body
{
	width: 50%;
	padding: 50px;
    font: 15px/1.6 Source Sans Pro,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p
{

}
.support-row
{
	display: inline-flex;
}
.row-desc
{
	border-bottom: 1px solid transparent;
    color: #298EEA;
}
.row-heading
{
	cursor: pointer;
}
.answer
{
	display: none;

}
 a
{
	color: #337ab7;
}
hr
{    display: block;
    margin: 16px auto;
    border: 0;
    border-top: 1px solid rgba(243,249,255,0.1);
}
h2
{
	    font-size: 1.1em;
    font-weight: bold;
}


/*miobile*/
.mobile .page_body
{
	padding: 15 !important;
	width: 100%;
    font: 15px/1.6 Source Sans Pro,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}
.mobile p
{
	font-size: .8em;
}
.mobile .sec-info
{
	border-bottom: 1px solid transparent;
    color: #298EEA;
    font-weight: lighter;
    /*font-size:*/
}
/*.support-scetion
{
	margin-bottom: -25px;
}*/