h2
{
	    font-weight: bold;
    color: white;
}

#stat span
{
	text-transform: uppercase;
	color: rgba(243,249,255,0.7) ;
}
#stat h3
{
	    font-size: 24px;
    
    color: rgba(243,249,255,0.9);
}
#stat
{
	float: left;
	margin-left:  30px;
}
#stats
{
	display: inline-flex;
}
.separator
{
	border-bottom: 1px solid rgba(243,249,255,0.1);
	display: block;
    margin: 16px auto;
}
#premium-count
{
	box-sizing: border-box;
    /*border: 2px solid rgba(243,249,255,0.2);
    border-radius: 16px;*/
    padding: 20px;
}
.step
{
	
    float: left;
    background: #298EEA;
    font: 18px Josefin Sans,sans-serif;
 
    border-radius: 50%;
    display: block;
    width: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
}

.checkout h3
{
	color: white;
	margin-left: 25px;
	margin-top: 3px;
	float: left;
}
#heading3
{
	color: white;
	padding-left: 25px;
    padding-top: 3px;
    margin-left: 25px;

}
.packages ul
{
	margin-top: 55px;
}
.packages ul li
{
	cursor: pointer;
	background: transparent;
	border-color: #1474cc;
}
.card_info ul li
{
	background: transparent;
	border: none;	
}
.card_info ul li label
{
	color: rgba(243,249,255,0.8);
}
.packages ul li span
{
	color: white;
	font-size: 16px;
}
.packages ul li:hover:not(.activePackage)
{

	background: rgba(41,142,234,0.3) !important;
}
span.right
{
	float: right;
}
span.mid
{
	margin-left: 120px;
}
.activePackage
{
	background: #298EEA !important;
}

.card_info
{
	width: 80%;
	display: block;
    padding: 4px 8px 10px;
    border-radius: 5px;
    border: 1px solid rgba(243,249,255,0.4);
    margin: 4px 0 16px;
    background: rgba(243,249,255,0.1);
    height: 200px;
}

#crdnumber,#expdate,#crdPassword
{
	-webkit-appearance: none;
    background: rgba(243,249,255,0.1);
    border-radius: 4px;
    border: 1px solid rgba(243,249,255,0.2);
    padding: 6px 30px;
    color: rgba(243,249,255,0.9);
    width: 100%;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
	color: rgba(243,249,255,0.9);
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.half-field
{
	width: 45%;
	
	float: left;
}
.confirm p
{
	color: white;
	font-weight: bold;
}
.submitbutton
{
	text-align: center;
	margin-top: 30px;
}
button.text:focus {
    outline: none;
}
button.text:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

button.text:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

button.text {
    color: #fff;
    border-radius: 100px;
    background: #298EEA;
    box-shadow: 0 2px 2px rgba(0,6,12,0.2);
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: .5em 1em .55em;
    font: bold 16px Josefin Sans,sans-serif;
    transition: .3s transform;
    box-sizing: border-box;
}
.question
{
    margin: 0 0 8px;
    text-align: right;
}
.question p
{
	font-weight: bold;
	background: #298EEA;
    color: #fff;
    max-width: 308px;
    border-radius: 14px;
    padding: 4px 12px 3px;
    margin: 0;
    display: inline-block;
}
.ans
{
	margin: 0 0 12px;
}
.ans p
{
	font-weight: bold;
	color: #fff;
	    max-width: 308px;
    border-radius: 14px;
    padding: 4px 12px 3px;
    margin: 0;
    display: inline-block;
    background: rgba(243,249,255,0.2);
}

.mobile h2
{
	font-size: 1.5em;
	color: white;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.mobile
{
    padding: 10px;
}
.mobile h3
{
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
/*.mobile .packages ul
{
    display: block;
}
.mobile .packages ul li
{
    display: block;
}
.mobile .packages ul li span
{
     display: inline-block;
}
*/
.mobile .col-xs-6,.mobile .col-xs-4,.mobile .col-xs-2
{
    padding: 0 !important;
   margin: 0 !important;
}

